html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  color: var(--font-color);
  background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

address,
button {
  font-style: normal;
  outline: none;
  border: none;
}

:root {
  --main-background-color: #075858;
  --font-color: rgb(255, 255, 255);
  --accent-color: #F09D59;
  --disabled-color: #b7b7b7;
  --light-color: #168787;
  --dark-color: #096767;
}

li {
  list-style: none;
}

.MuiTableCell-root {
  border: none !important;
}